* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #232F3E;
    min-width: 15rem;
    border-radius: 1rem;
}

button {
    all: unset;
    padding: .5rem 1rem;
    margin-top: .3rem;
    margin-bottom: 1rem;
    background-color: #F0C419;
    font-weight: 700;
    color: #232F3E;
    border-radius: 1rem;
    text-align: center;
    width: 7rem;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-align: center;
    font-weight: 600;
    background-color: #0F1111;
    color: white;
}

.info {
    padding-bottom: .5rem;
    padding-top: .5rem;
    font-size: x-small;
    text-align: center;
    color: #F0C419;
    width: 100%;
}